* {
  margin:  0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.imgUpload {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.inner {
   width: 500px;
   padding: 50px 10px;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   border-radius: 10px;
   position: relative;
   top: 20px;
} 

.inner > h5 {
  color: white;
  font-size: 30px !important;
  font-weight: bold;
}

.inner > input[type="file"]{
   position: relative;
   top: 20px;
   background-color: white;
}


.imgSection {
  width: 50%;
  padding: 40px 20px;
  height: 350px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 80px;
  overflow: auto;
}

.imgContainer {
  padding: 20px 20px;
  width: 200px;
  position: relative;
}

.imgContainer > img {
  width: 100%;
  border-radius: 10px;
}

.imgContainer > .cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}


.imgContainer > .cross:hover {
  transform: scale(1.5);
}